/*Makes all boxes in the document into alternative box model.*/
html {
    box-sizing:border-box;
    font-family:"Palatino","Goudy Old Style", 'Calibri', Sans-serif;
    border:30px double black;
    border-radius:15px;
    padding:100px;
}
    *, *:before, *:after {
        box-sizing:inherit;
    }


/*Make the website background a nice ocean coral blue color*/
body {
    background-color:rgb(124, 177, 178);
}

/*Standardises font size across website*/
p, ol, ul, li {
    font-size:20px;
}

h2 {
   height:80px;
   padding:10px;
   width:300px;
   margin-left:auto;
   margin-right:auto;
    border:15px double black;
    border-radius:15px;
    font-size:35px;
    text-align:center;
    background-color:rgb(193 203 229 / 79%);
}

h3 {
    font-size:23px;
}

/*Centers all the text on the main page*/
#main-page{
    text-align: center;
}

img.britta-gif {
    border: 14px solid #110101;
    border-radius: 15px;
}

/*Creates and styles box for recipe links*/
#recipes {
    list-style-type: none;
    border: 10px solid #000000;
    border-radius: 15px;
    background: grey;
    padding: 25px;
    margin: 25px 80px;
}

/*Changes colors of links before/after being pressed*/
a:link {
    color:rgb(0, 0, 0);
}
a:visited {
    color:rgb(255, 255, 255);
}

/*recipe button links*/
a.recipe-link{
    display: inline-block;
    background-color: #16d5ec73;
    border: 5px double #02e2e6;
    border-radius: 15px;
    padding: 15px;
    font-size: 35px;
    margin: 10px;
    width: 400px;
}

/*Makes all the page titles big and pretty*/
h1 {
    font-family:"Brush Script MT","Caveat","Courier New",sans-serif;
    font-size:100px;
    text-align:center;
}
    /*Makes all the recipe page titles just a bit smaller*/
     .page-header{
        font-size:80px;
    }

/*Centers and resizes all the photos*/
.photo {
    border:7px solid black;
    border-radius:15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    width:500px;
    height:750px;
}

