/*Makes all boxes in the document into alternative box model.*/
html {
    box-sizing:border-box
}

*, *:before, *:after {
    box-sizing:inherit;
}

/*Make the website background a nice khaki color*/
body {
    background-color:rgb(124, 177, 178);
}

p {
    font-size:20px;
    font-family:"Palatino","Goudy Old Style", 'Calibri', Sans-serif;
}

/*Centers all the text on the main page*/
#main-page{
    text-align: center;
}

/*Gets rid of bullet points for centered list*/
#recipes {
    list-style-type: none;
    border: 3px solid #000404;
    border-radius: 15px;
    background: gray;
    padding: 25px;
}

a.recipe-link{
    border:2px dotted black;

}

/*Makes all the page titles big and pretty*/
h1 {
    font-family:"Brush Script MT","Caveat","Courier New",sans-serif;
    font-size:100px;
    text-align:center;
}
    /*Makes all the recipe page titles just a bit smaller*/
     .page-header{
        font-size:80px;
    }

/*Centers and resizes all the photos*/
.photo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    height:750px;
}

